In [ ]:
#df0113

In [1]:
import pandas as pd
import numpy as np

In [2]:
d0113 = pd.read_csv(r'C:\Users\82103\Downloads\df0113.csv')

c:\python38\lib\site-packages\IPython\core\interactiveshell.py:3169: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df0113= d0113.drop(['Unnamed: 0','측정소코드','측정소명', 'SO2', 'CO', 'O3', 'NO2', '주소'], axis=1)

In [4]:
df0113['지역'] = df0113.지역.str[:2]

In [5]:
df0113['PM10'] = df0113.PM10.replace(-999, np.nan)

In [6]:
df0113['측정일시'] = df0113['측정일시'].astype(str)

In [7]:
a= df0113.iloc[:5026440, 1].str[:6]

In [8]:
b= df0113.iloc[5026440:6841224, 1].str.replace('-','')

In [9]:
b1 = b.str[:6]

In [10]:
c= df0113.iloc[6841224:, 1].str[:6]

In [11]:
df0113['측정일시']=pd.concat([a, b1, c], ignore_index=True)

In [12]:
df0113['측정일시']=pd.to_numeric(df0113['측정일시'])

In [13]:
fill_mean_func = lambda x : x.fillna(x.mean())

In [14]:
df0113['PM10']=df0113.groupby(['지역', '측정일시']).transform(fill_mean_func)

In [15]:
#df1416

In [16]:
d1416 = pd.read_csv(r'C:\Users\82103\Downloads\df1416.csv')
df1416= d1416.drop(['Unnamed: 0','측정소코드','측정소명', 'SO2', 'CO', 'O3', 'NO2','PM25', '주소'], axis=1)
df1416['지역'] = df1416.지역.str[:2]
df1416['PM10'] = df1416.PM10.replace(-999, np.nan)

df1416['측정일시'] = df1416['측정일시'].astype(str)
df1416['측정일시'] = df1416['측정일시'].str[:6]
df1416['측정일시']=pd.to_numeric(df1416['측정일시'])

fill_mean_func = lambda x : x.fillna(x.mean())
df1416['PM10']=df1416.groupby(['지역', '측정일시']).transform(fill_mean_func)

In [17]:
#df1721

In [18]:
import pandas as pd
import numpy as np
d1721 = pd.read_csv(r'C:\Users\82103\Downloads\df1721.csv')
df1721= d1721.drop(['Unnamed: 0','측정소코드','측정소명', '망', 'SO2', 'CO', 'O3', 'NO2','PM25', '주소'], axis=1)
df1721['지역'] = df1721.지역.str[:2]
df1721['PM10'] = df1721.PM10.replace(-999, np.nan)

df1721['측정일시'] = df1721['측정일시'].astype(str)
df1721['측정일시'] = df1721['측정일시'].str[:6]
df1721['측정일시']=pd.to_numeric(df1721['측정일시'])

fill_mean_func = lambda x : x.fillna(x.mean())
df1721['PM10']=df1721.groupby(['지역', '측정일시']).transform(fill_mean_func)

c:\python38\lib\site-packages\IPython\core\interactiveshell.py:3169: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [20]:
df0113 = pd.DataFrame(df0113)
df1416 = pd.DataFrame(df1416)
df1721 = pd.DataFrame(df1721)

df0121 = pd.concat([df0113, df1416, df1721] , ignore_index=True)

In [21]:
df0121

          지역    측정일시      PM10
0         서울  200101  69.04635
1         서울  200101  69.04635
2         서울  200101  69.04635
3         서울  200101  69.04635
4         서울  200101  69.04635
...       ..     ...       ...
53953461  인천  201812  16.00000
53953462  인천  201812   6.00000
53953463  인천  201812  19.00000
53953464  인천  201812  15.00000
53953465  인천  201812  14.00000

[53953466 rows x 3 columns]

In [23]:
df0121.groupby(['지역', '측정일시'])['PM10'].mean()

지역  측정일시
강원  200101    47.518714
    200102    50.319527
    200103    59.379205
    200104    76.165577
    200105    58.542465
                ...
충북  202012    44.561584
    202101    43.609956
    202102    46.532468
    202103    62.655097
    202104    40.937967
Name: PM10, Length: 3968, dtype: float64

In [24]:
df0121[df0121['지역']=='서울'].groupby('측정일시')['PM10'].mean()

측정일시
200101     69.046350
200102     78.603589
200103    101.451026
200104     94.508187
200105     77.665523
             ...
202012     43.227902
202101     38.951581
202102     49.371352
202103     68.588171
202104     43.343496
Name: PM10, Length: 244, dtype: float64

In [30]:
pm10_per_place=df0121.groupby(['지역'])['PM10'].mean()

In [31]:
pm10_per_place = pm10_per_place.reset_index()

In [100]:
pm10_per_place

    지역       PM10
0   강원  43.421065
1   경기  55.403391
2   경남  44.128040
3   경북  44.711823
4   광주  45.587154
5   대구  50.274988
6   대전  44.957583
7   부산  48.658379
8   서울  53.421810
9   세종  42.277667
10  울산  45.904279
11  인천  51.208194
12  전남  38.207687
13  전북  47.723883
14  제주  40.610068
15  충남  45.378295
16  충북  49.685900

In [98]:
m = pd.DataFrame(pm10_per_place)
m.to_csv(r'C:\Users\82103\Downloads\pm10_per_place.csv')

In [108]:
k = pm10_per_place.describe()

In [109]:
k

            PM10
count  17.000000
mean   46.562365
std     4.501741
min    38.207687
25%    44.128040
50%    45.587154
75%    49.685900
max    55.403391

In [111]:
pm10_per_place_date=df0121.groupby(['지역', '측정일시'])['PM10'].mean()

In [112]:
pm10_per_place_date = pm10_per_place_date.reset_index()

In [139]:
pm10perplacedate=pd.DataFrame(pm10_per_place_date)
pm10perplacedate.to_csv(r'C:\Users\82103\Downloads\pm10perplacedate.csv')

In [148]:
pm10perplacedate2=pm10_per_place_date.reset_index()

In [180]:
chungbuk=pm10perplacedate2.iloc[3724:, :]

In [181]:
chungbuk['측정일시'] = chungbuk['측정일시'].astype(str)
chungbuk['측정일시'] = chungbuk['측정일시'].str[:4]
chungbuk['측정일시']=pd.to_numeric(chungbuk['측정일시'])

<ipython-input-181-867eb7a1f09b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
<ipython-input-181-867eb7a1f09b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
<ipython-input-181-867eb7a1f09b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [182]:
chungbuk

      index  지역  측정일시        PM10
3724   3724  충북  2001   64.890557
3725   3725  충북  2001   69.388417
3726   3726  충북  2001  110.403393
3727   3727  충북  2001   91.007580
3728   3728  충북  2001   70.285258
...     ...  ..   ...         ...
3963   3963  충북  2020   44.561584
3964   3964  충북  2021   43.609956
3965   3965  충북  2021   46.532468
3966   3966  충북  2021   62.655097
3967   3967  충북  2021   40.937967

[244 rows x 4 columns]

In [185]:
chungbuk=chungbuk.drop(['index'], axis=1)

In [186]:
chungbuk

      지역  측정일시        PM10
3724  충북  2001   64.890557
3725  충북  2001   69.388417
3726  충북  2001  110.403393
3727  충북  2001   91.007580
3728  충북  2001   70.285258
...   ..   ...         ...
3963  충북  2020   44.561584
3964  충북  2021   43.609956
3965  충북  2021   46.532468
3966  충북  2021   62.655097
3967  충북  2021   40.937967

[244 rows x 3 columns]

In [189]:
year_chungbuk=chungbuk.groupby('측정일시')['PM10'].mean().reset_index()

In [190]:
year_chungbuk=pd.DataFrame(year_chungbuk)
year_chungbuk.to_csv(r'C:\Users\82103\Downloads\year_chungbuk.csv')